@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Rancho:wght@300;400;500&display=swap%27');

.toggle-scroll{
    max-height: 100%;
    overflow: visible;
}


body {
    background: #203239;
    /* #081C24 un albastru inchis*/
    max-height: unset;
    overflow: hidden ;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat";
}

.menu {
    display: none;
    width: 50px;
    height: 50px;
    order: 0;
    background: #BBBBBF;
    border-radius: 50%;
    transition: all 0.2s ease 0s;
}

.nav-bar {
    order: 1;
    background: #081C24;
    height: 80px;
    width: 700px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.657), 0 6px 6px rgba(0, 0, 0, 0.623);
}

header {
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
    padding: 15px 0 25px 0;
    background-color: #081C24;
    transition: all 1s ease 0s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


nav ul {
    margin-left: 10%;
    margin-right: 10%;
}

nav,ul,li {
    display: inline;
    line-height: 80px;
}

header button {
    position: relative;
    background-color: #BBBBBF;
    color: black;
    font-size: 100%;
    order: 1;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 3px;
    padding-bottom: 3px;
    height: 50px;
    width: 50px;
    border: none;
    z-index: 1;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease 0s;
    font-weight: 550;
}

button:hover,
.menu:hover {
    margin-bottom: +10px;
    opacity: 0.9;
    box-shadow: 0 3px 15px 0 rgba(245, 169, 169, .8);
}

nav ul li a {
    color: #f2f2f2;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 3px;
}

.logo:hover {
    cursor: pointer;
}

nav ul li a:hover {
    background: #BBBBBF;
    transition: .5s;
    color:black;
    margin-bottom: +10px;
}



.donate{
    position: fixed;
    text-decoration: none;
    background: #BBBBBF;
    color:black;
    font-size: 30px;
    border: 2px solid black;
    box-shadow: 0 2px 15px 0 rgba(24, 23, 23, 0.8);
    width: 190px;
    height: 50px;
    border-radius: 50%;
    bottom: 3%;
    right: 3%;
    opacity: .95;
    animation: move 1s;
    -webkit-animation: move .7s alternate infinite;
  }
.donate:hover{
  box-shadow: #BBBBBF;
  margin-bottom: 0px;
  opacity:1;
}

@keyframes move{
 from{
     transform: translateY(0px);
     box-shadow: 0 10px 15px 0 rgba(24, 23, 23, 0.8);
 }
 to{
     transform: translateY(10px);
     
 }
}

.bg-modal{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index:11;
}
.toggle-pop{
    display: block;
}


.pop-content{

    width: 500px;
    height: 700px;
    background: #081C24;
    position: absolute;
    top: 110px;
    left: 35%;
    border-radius: 10%;
    box-shadow: 0 0px 30px 10px rgba(95, 95, 95, 0.55);

}

.pop-input{
    height:75%;
    margin-left: 18%;
    margin-top: 10%;
    width: 65%;
    background: rgb(71, 91, 90, 0.404);
    padding: 4.5%; 
    border-radius: 10px;
    border: 3px solid;
    border-color: rgba(0, 0, 0, 0.63);
}
.pop-input input{
    width: 100%;
    display: block;
    margin-top: 15%;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px; 
    color: black;   
    font-size: 15px;
    border:2px solid #BBBBBF;
    border-radius: 4px;
    box-sizing: border-box;
}

.pop-input input:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.check-pop{
    position: absolute;
    width:30%;
    height: 50px;
    top: 92%;
    left: 5%;
    margin-left: 30%;
    color: black;
    font-size: 25px;
    background: #BBBBBF;
    border-radius: 50%;
    border: 2px solid black;
    transition: all .5s ease 0s;
    opacity: 0.8;
}

.pop-exit:hover, .check-pop:hover{
    opacity: 1;
    box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.657);
}

.pop-logo{
    position: relative;
    font-family:Rancho, cursive;
    left:20%;
    color:white;
    text-align:center;
    font-size:72px;
    font-weight: bold;
    animation: rainbow-shadow 2s linear infinite;
}

.pop-exit{
    position: relative;
    top:10px;
    left:85%;
    bottom: 0px;
    background: #BBBBBF;
    border: 2px solid black;
    border-radius: 50%;
    opacity: 0.7;
    transition: all .5s ease 0s;
}

/* Changing elements size*/

@media (max-width: 1200px) {
    nav ul li a {
        font-size: 14px;
        position: relative;
    }
    .nav-bar {
        height: 80px;
        width: 520px;
    }
    .pop-content{
        left:25%;
    }
}

@media (max-width: 997px) {
    .menu {
        display: flex;
    }
    /*Nav sub forma de hamburger*/
    .toggle-mobile {
        display: block;
        margin-left: 0;
        order: 3;
        width: 300px;
        height: 600px;
        z-index: 10;
        padding-top: 150px;
        align-items: center;
        padding-bottom: 10px;
    }

    header nav {
        display: none;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
        line-height: 5px;
        padding-right: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav ul li:hover {
        background: #BBBBBF;
        transition: all 0.5s ease 0s;
    }
    .search-container {
        display: flex;
        margin-right: 2%;
        margin-left: auto;
    }
    header button {
        font-size: 90%;
        width: 50px;
        height: 50px;
    }
    .pop-content{
        align-items: center;
        left: 25%;
        width: 50%;    }
    .pop-input{
        width: 65%;
    }
    .pop-logo{
        font-size: 60px;

    }
    .check-pop{
        top:89.5%;
    }
}

@media (max-width: 870px){
    
    .pop-input{
        height: 455px;
    }
    .pop-logo{
        font-size: 55px;
        left: 10%;
    }
    .check-pop{
        top:78%;
        height:fit-content;
    }
    .pop-exit{
        left: 83%;
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 500px){
    .search-container{
        display: none;  
    }
    /*!important = display flex > display none*/
    .toggle-search{
        display: flex !important;
    }
    .nav-bar{
        margin-top: 120px;
        height: 700px;
    }
    nav ul li {
        margin-top: 30px;
    }
    nav ul li a:hover {
        background: none;
    }
    header {
        height: 100px;
    }
    .donate{
        display: none;
    }
    .pop-content{
        top: 40px;
        left: 15%;
        width: 70%;
        height:600px;
    }
    .pop-input{
        height: 400px;
    }

    .check-pop{
        left:5%;
        top:93%;
        font-size: 20px;
        height:fit-content;
    }
    .pop-logo{
        position: relative;
        top: 13.5%;
        left:10%;
        font-size: 40px;
    }
    .body-content img{

        border-radius: 30px;
        border: 10px solid #081C24;
        margin: 10px;
        width: 80%;
        height: 300px;
        animation: appear 3s;
    }

}

@media (max-height:700px){
    .toggle-scroll{
        display: block;
        overflow: visible;

    }
    body{
        overflow: visible;
    }
    .bg-modal{
        height: 400%;
    }
    .pop-content{
        top: 40px;
        left: 15%;
        width: 70%;
        height:500px;
    }
}


.body-content {
    position: relative;
    display: block;
    text-align: center;
    padding: 0 20px;
    height: fit-content;
    overflow-y: auto;
    height: 1000px;
    margin-bottom: 30px;

}

.body-content img{

    border-radius: 30px;
    border: 10px solid #081C24;
    margin: 10px;
    animation: appear 3s;
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.body-content a{
    display: inline;
    transition: all .4s;
    margin-right: 20px;
}

.body-content img:hover{
    transition: all .5s ease 0s;
    border: 10px solid #BBBBBF;
    transform: translateY(-4px);

}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 400;
}

.box .content {
    margin: 20px 0 0 0;
}

.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}

.box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
}


.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.center-box .content .text {
    font-size: 1.0625rem;
    font-weight: 200;
    padding-left: 10px;
}

.center-box .content .phone {
    margin: 15px 0;
}


/* Search bar style */

.search-container {
    position: relative;
    order: 0;
    margin-left: auto;
    margin-bottom: 3px;
    width: 240px;
    height: 100px;
}

.search-container .search {
    position: absolute;
    margin-left: auto;
    top: 25%;
    right: 10px;
    bottom: 0;
    left: 0px;
    width: 50px;
    height: 50px;
    background: #BBBBBF;
    border-radius: 50%;
    transition: all .5s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(245, 169, 169, 0.507);
}

.search-container .search:hover {
    cursor: pointer;
}


/*picior lupa*/

.search-container .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 17px;
    right: +6px;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: black;
    transform: rotate(45deg);
    transition: all 0.5s;
}


/*Cerc lupa*/

.search-container .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: +5px;
    bottom: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
    transition: all 0.5s;
}


/* Casuta pt text*/

.search-container input {
    position: absolute;
    margin-left: auto;
    top: 25%;
    right: 10px;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: #BBBBBF;
    color: black;
    padding: 0 0px 0 20px;
    border-radius: 30px;
    box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.644);
    transition: all .5s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
}

.search-container input:hover {
    cursor: pointer;
}


/*Mareste dupa click casuta pt text*/

.search-container input:focus {
    width: 100%;
    top: 35%;
    height: 30px;
    opacity: 1;
    cursor: text;
}


/*Muta dupa click casuta pt iconita*/

.search-container input:focus~.search {
    z-index: 6;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
}


/*pt x dupa click*/

.search-container input:focus~.search::before {
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 20px;
}


/*pt x dupa click*/

.search-container input:focus~.search::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 2px;
    border: none;
    background: black;
    border-radius: 0%;
    transform: rotate(-45deg);
}


@keyframes rainbow-shadow{
    from {
        text-shadow:
          0.04em 0.04em #ff0000,
          0.08em 0.08em #ff7f00,
          0.12em 0.12em #ffff00,
          0.16em 0.16em #00ff00,
          0.20em 0.20em #0000ff,
          0.24em 0.24em #4b0082,
          0.28em 0.28em #8f00ff;
      }
      15% {
        text-shadow:
          0.04em 0.04em #8f00ff,
          0.08em 0.08em #ff0000,
          0.12em 0.12em #ff7f00,
          0.16em 0.16em #ffff00,
          0.20em 0.20em #00ff00,
          0.24em 0.24em #0000ff,
          0.28em 0.28em #4b0082;
      }
      30% {
        text-shadow:
          0.04em 0.04em #4b0082,
          0.08em 0.08em #8f00ff,
          0.12em 0.12em #ff0000,
          0.16em 0.16em #ff7f00,
          0.20em 0.20em #ffff00,
          0.24em 0.24em #00ff00,
          0.28em 0.28em #0000ff;
      }
      45% {
        text-shadow:
          0.04em 0.04em #0000ff,
          0.08em 0.08em #4b0082,
          0.12em 0.12em #8f00ff,
          0.16em 0.16em #ff0000,
          0.20em 0.20em #ff7f00,
          0.24em 0.24em #ffff00,
          0.28em 0.28em #00ff00;
      }
      60% {
        text-shadow:
          0.04em 0.04em #00ff00,
          0.08em 0.08em #0000ff,
          0.12em 0.12em #4b0082,
          0.16em 0.16em #8f00ff,
          0.20em 0.20em #ff0000,
          0.24em 0.24em #ff7f00,
          0.28em 0.28em #ffff00;
      }
      75% {
        text-shadow:
          0.04em 0.04em #ffff00,
          0.08em 0.08em #00ff00,
          0.12em 0.12em #0000ff,
          0.16em 0.16em #4b0082,
          0.20em 0.20em #8f00ff,
          0.24em 0.24em #ff0000,
          0.28em 0.28em #ff7f00;
      }
      90% {
        text-shadow:
          0.04em 0.04em #ff7f00,
          0.08em 0.08em #ffff00,
          0.12em 0.12em #00ff00,
          0.16em 0.16em #0000ff,
          0.20em 0.20em #4b0082,
          0.24em 0.24em #8f00ff,
          0.28em 0.28em #ff0000;
      }
      to {
        text-shadow:
          0.04em 0.04em #ff0000,
          0.08em 0.08em #ff7f00,
          0.12em 0.12em #ffff00,
          0.16em 0.16em #00ff00,
          0.20em 0.20em #0000ff,
          0.24em 0.24em #4b0082,
          0.28em 0.28em #8f00ff;
      }
    
}


/*popup*/


.modal-trigger {
    text-decoration: none;
    padding: 1.5rem;
    background: #080808;
    display: inline-block;
    border-radius: 50%;
    margin-top: 20px;
    color: #fff;
}

.modal-trigger:hover {
    background: #40a798;
}

.modal {
    display: none;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 11;
}

.modal:target {
    display: table;
}

.modal__dialog {
    display: flex;
    margin-top: 6%;
}

.modal__content {
    color: black !important;
    background: #E5E6E7;
    width: 60%;
    margin: auto;
    position: relative;
    animation: slideUp 0.3s ease-in-out;
    border-radius: 5px;
    height: 600px;
}

.modal__header {
    background: linear-gradient(to bottom, #636262, #fff);
    color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    position: relative;
    height: 70px;
    font-weight: bolder;
}

.modal__title {
    font-size: 90%;
    padding-right: 10px;
    display: flex;
}


.modal__title .modal__titlee {
    color: black;
    font-size: 24px;
    margin-top: 7%;
}

.modal__close {
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal__body {
    display: flex;
}

.modal__body__left {
    padding-top: 5%;
    width: 50%;
}

.modal__body__right {
    padding-top: 5%;
    width: 50%;
}

.modal__body__left input {
    width: 50%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: black;
    font-style: italic;
    padding-left: 5px;
    font-size: 100%;
}

.modal__body__left p {
    color: black;
    padding-bottom: 9%;
    font-size: 20px;
    font-weight: bolder;
}

.modal__body__right input {
    width: 50%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: black;
    font-style: italic;
    padding-left: 5px;
    font-size: 100%;
}

.modal__body__right p {
    color: black;
    padding-bottom: 9%;
    font-size: 20px;
    font-weight: bolder;
}

input[type=number]::-webkit-inner-spin-button{
    appearance: none;
}

input[type=number]:focus {
    border: 3px solid #555;
}

input[type=password]:focus {
    border: 3px solid #555;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.button-showpw {
    cursor: pointer;
    background: white;
    margin-left: 5px;
    border-radius: 5px;
}

.button__save {
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 3%;
}

.button__save .modal-trigger-save:hover {
    background: #40a798;
}

.modal-trigger-save {
    text-decoration: none;
    padding: 0.7rem;
    background: #080808;
    display: inline-block;
    border-radius: 10px;
    margin-top: 20px;
    color: #fff;
    width: 100px;
}

@keyframes slideUp {
    from {
        opacity: 0;
        bottom: -200px;
    }
    to {
        opacity: 1;
        bottom: 0;
    }
}


/*FOOTER*/

footer {
  width: 100%;
  background: #081C24;
}

.footer-content {
  display: flex;
}

.footer-content .box {
  flex-basis: 50%;
  padding: 10px 10px;
}

.box h2 {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  text-align: center;
  -webkit-animation: h2 1s ease-in-out infinite alternate;
  -moz-animation: h2 1s ease-in-out infinite alternate;
  animation: h2 1s ease-in-out infinite alternate;
}

@keyframes h2 {
  from {
      text-shadow: 0 0 5px #BBBBBF, 0 0 6px #BBBBBF, 0 0 7px #144457, 0 0 8px #144457, 0 0 9px #144457, 0 0 10px #144457, 0 0 11px #144457;
  }
}

.box .content {
  margin: 20px 0 0 0;
  font-size: 0.9rem;
  font-weight: bolder;
  text-align: center;
}

.box .content p {
  color: white;
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 2px;
  margin: 2%;
}

.left .content .social a span {
  height: 30px;
  width: 30px;
  background: #081C24;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
  color: white;
}

.left .content .social a span:hover {
  background: #f12020;
}

.right .content .text {
  color: white;
}

/*PROFILE*/

.body-content-account {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 70%;
  box-shadow: 0 3px 20px 0 rgba(65, 67, 68, 0.08);
  margin-left: 15%;
  display: flex;
  padding-bottom: 3%;
}

.body-content-account .body-left {
  width: 35%;
  /* background: linear-gradient(to right, #393b3b, #b4b6b6);*/
  padding-top: 9%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  background: linear-gradient(to left, #164D63, #203239);
  color: #fff;
}

.body-content-account .body-left img {
  margin-bottom: 20px;
  border-radius: 50%;
  width: 40%;
}

.body-content-account .body-left .data .titlu-left {
  margin-bottom: 7px;
  color: #E5E6E7;
  font-size: 120%;
}

.body-content-account .body-right {
  width: 65%;
  background: #164D63;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.body-content-account .body-right p{
    color:#E5E6E7;
}

.body-content-account .body-right .info,
.main-content .body-right .preferences {
  margin-bottom: 3%;
  margin-top: 10%;
}

.body-content-account .body-right .info .titlu-right,
.body-content-account .body-right .preferences .titlu-right {
  padding-bottom: 3px;
  border-bottom: 1px solid #e0e0e0;
  color: #06080c;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 125%;
  letter-spacing: 2px;
  font-weight: bolder;
}

.body-content-account .body-right .info-data {
  display: flex;
  justify-content: space-between;
}

.body-content-account .body-right .info-data .data {
  width: 45%;
  margin-top: 10px;
}

.body-content-account .body-right .info-data .data .subtitle-right {
  margin-bottom: 5px;
  font-size: 120%;
}

.body-content-account .body-right .info-data .data p {
  font-style: italic;
  font-size: 115%;
  color: rgb(160, 160, 160);
  padding-bottom: 5px;
}


/* tags */

.tags-input-account {
  border: 1px solid #333;
  display: inline-block;
}

.tags-input-account .tag {
  font-size: 85%;
  padding: 0.5em 0.75em;
  margin: 0.25em 0.1em;
  display: inline-block;
  background-color: black;
  transition: all 0.1s linear;
  cursor: pointer;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

.tags-input-account .tag:hover {
  background-color: #40a798;
  color: rgb(255, 255, 255);
}

.tags-input-account .tag .close::after {
  content: '×';
  font-weight: bold;
  display: inline-block;
  transform: scale(1.4);
  margin-left: 0.75em;
  color: rgb(255, 255, 255);
}

.tags-input-account .main-input {
  border: 0;
  outline: 0;
  padding: 0.5em 0.1em;
}

/*TITLE*/

svg {
    display: block;
    font: 8.5em 'Montserrat';
    width: 450px;
    margin-top: -20px;
    margin-left: -60px;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #91e9ce;
    animation-delay: -1s;
}

.text-copy:nth-child(2) {
    stroke: #ffffff;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #40a798;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #f5e1da;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #FDB731;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}

.credits h1{
    color: white;
}

.social a{
    color: white;
}